<%= form_for(@fare) do |f| %>
  <% if @fare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fare.errors.count, "error") %> prohibited this fare from being saved:</h2>

      <ul>
      <% @fare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Destination %><br>
    <%= f.text_field :Destination %>
  </div>
  <div class="field">
    <%= f.label :From %><br>
    <%= f.text_field :From %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
