<p id="notice"><%= notice %></p>
<table class=table table-striped>
	<tr>
  		<th><strong>Destination:</strong></th>
  		<th><strong>From:</strong></th>
  		<th><strong>Time:</strong></th>
  		<th><strong>Price:</strong></th>
  	</tr>

  	<tr>

  		<td><%= @fare.Destination %></td>
  		<td><%= @fare.From %></td>
 		<td><%= @fare.time %></td>
  		<td><%= @fare.price %></td>
  	</tr>
<%= link_to 'Edit', edit_fare_path(@fare) %> |
<%= link_to 'Back', fares_path %>

</table>
